@import "../scss/mixins";

:host {
  display: block;
  padding: 8px 16px;
  @include media480 {
    padding-left: 8px;
    padding-right: 8px;
  }
}


.search {
  width: 700px;
  margin: 0 auto 16px;
  @include flex(stretch, center);

  mat-form-field {
    width: 100%;
  }

  [mat-raised-button] {
    min-width: 100px;
    margin: 0 0 1.34375em 8px;
  }
}

.search__list {
  width: 700px;
  margin: 0 auto;
  min-height: 50vh;
  background-color: var(--white);
  position: relative;
  padding: 24px 16px;
}

.search__loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include flex(center, center);
}
